@model mvc_gog.Models.User


@{
    ViewData["Title"] = "Home Page";
}


<!-- Content Code -->

@if (User.Identity.IsAuthenticated)
                    {
    <div class="text-center">
	<div class="container">
			<div class="InnerDiv">
				<div class="center">
					<p class="title">Calista</p>
					<p class="sub_des">LE PLUS GRAND SECRET POUR LE BONHEUR C'EST D'ÊTRE BIEN AVEC SOI</p>
				
				</div>
			</div>
		</div>
        </div>
		 <!--Content Code End -->

					}